@model DetailPageViewModel

<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h1>Movie Detalied Page</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="transformers-area">
    <div class="container">
        <div class="transformers-box">
            <div class="row flexbox-center">
                <div class="col-lg-5 text-lg-left text-center">
                    <div class="transformers-content">
                        <img src="@Model.Poster" alt="about" onerror="this.src='/img/image-not-found.jpg'"/>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="transformers-content">
                        <h2>@Model.Title</h2>
                        <ul>
                            <li>
                                <div class="transformers-left">
                                    Plot:
                                </div>
                                <div class="transformers-right">
                                    @Model.Plot
                                </div>
                            </li>
                            <li>
                                <div class="transformers-left">
                                    Actors:
                                </div>
                                <div class="transformers-right">
                                    @Model.Actors
                                </div>
                            </li>
                            <li>
                                <div class="transformers-left">
                                    Genre:
                                </div>
                                <div class="transformers-right">
                                    @Model.Genre
                                </div>
                            </li>
                            <li>
                                <div class="transformers-left">
                                    Writer:
                                </div>
                                <div class="transformers-right">
                                    @Model.Writer
                                </div>
                            </li>
                            <li>
                                <div class="transformers-left">
                                    Director:
                                </div>
                                <div class="transformers-right">
                                    @Model.Director
                                </div>
                            </li>
                            <li>
                                <div class="transformers-left">
                                    Runtime:
                                </div>
                                <div class="transformers-right">
                                    @Model.Runtime
                                </div>
                            </li>
                            <li>
                                <div class="transformers-left">
                                    Release:
                                </div>
                                <div class="transformers-right">
                                    @Model.Released
                                </div>
                            </li>
                            <li>
                                <div class="transformers-left">
                                    Language:
                                </div>
                                <div class="transformers-right">
                                    @Model.Language
                                </div>
                            </li>
                        </ul>
                        <div class="likeDisLikeButtons">
                            <h4>CMDb rating:</h4>
                            <button id="like" name="@Model.ImdbId" class="icofont icofont-thumbs-up">@Html.DisplayFor(item => @Model.NumberOfLikes)</button>
                            <button id="dislike" name="@Model.ImdbId" class="icofont icofont-thumbs-down">@Html.DisplayFor(item => @Model.NumberOfDislikes)</button>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>