@model MovieViewModel
     
    <section class="hero-area" id="home">
        <div class="container">
            <div class="hero-area-slider">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="row hero-area-slide">
                        <div class="col-lg-6 col-md-5">
                            <div class="hero-area-content">
                                <img src="@Html.DisplayFor(model => model.Movies[i].Poster)" alt="about" />
                                <h2 class="news-date">Top 3 rated <br />on CMDb</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7">
                            <div class="hero-area-content pr-50">
                                <h2>@Html.DisplayFor(model => model.Movies[i].Title)</h2>
                                <div class="review">
                                    @foreach (var rating in Model.Movies[i].Ratings)
                                    {
                                    <ul>
                                        <h6>@Html.DisplayFor(item => rating.Source)</h6>
                                        <p>@Html.DisplayFor(item => rating.Value)</p>
                                        <br />
                                    </ul>
                                    }
                                    <div class="author-review">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <h4>180k voters</h4>
                                </div>
                                <p>@Html.DisplayFor(model => model.Movies[i].Plot)</p>
                                <div class="slide-trailor">                                    
                                    <a class="theme-btn theme-btn2" href="#"><i class="icofont "></i> Go to movie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 }
            </div>
            <div class="hero-area-thumb">
                <div class="thumb-prev">
                    <div class="row hero-area-slide">
                        <div class="col-lg-6">
                            <div class="hero-area-content">
                                <img src="@Html.DisplayFor(model => model.Movies[1].Poster)" alt="about" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p>@Html.DisplayFor(model => model.Movies[1].Plot)</p>
                        </div>
                    </div>
                </div>
                <div class="thumb-next">
                    <div class="row hero-area-slide">
                        <div class="col-lg-6">
                            <div class="hero-area-content">
                                <img src="@Html.DisplayFor(model => model.Movies[2].Poster)" alt="about" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p>@Html.DisplayFor(model => model.Movies[2].Plot)</p>                                
                         </div>
                     </div>
                </div>
            </div>            
        </div>
    </section>

    <section class="portfolio-area pt-60">
        <div class="container">
            <h1><i class="icofont icofont-movie"></i> Spotlight This Month</h1>
            <br />
            <hr />
            <div class="row">
                <div class="col-lg-9">
                    <div class="row portfolio-item">
                        @for (int i = 0; i < 10; i++)
                        {
                            @if (i > 2)
                            {

                            <div class="col-md-4 col-sm-6 soon released">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img">
                                        <a href="#">
                                            <img src="@Html.DisplayFor(model => model.Movies[i].Poster)" alt="about" />
                                        </a>
                                    </div>
                                    <div class="portfolio-content">
                                        <h2>@Html.DisplayFor(model => model.Movies[i].Title)</h2>
                                        <div class="review">
                                            <div class="author-review">
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                            </div>
                                            <h4>180k voters</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }

                         }
                    </div>
                </div>

            </div>
        </div>
    </section>
    